<a href="https://colab.research.google.com/github/Humberto-Hechert/ModelosMachineLearning/blob/main/titanic_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando libs e dados necess√°rios

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

#Tratando os dados

In [ ]:
#Criando a coluna "Sex_binario"
binario = {
    'male': 0,
    'female': 1
}
train['Sex_binario'] = train['Sex'].map(binario)
train.head()

   PassengerId  Survived  Pclass  ... Cabin Embarked  Sex_binario
0            1         0       3  ...   NaN        S            0
1            2         1       1  ...   C85        C            1
2            3         1       3  ...   NaN        S            1
3            4         1       1  ...  C123        S            1
4            5         0       3  ...   NaN        S            0

[5 rows x 13 columns]

In [ ]:
#Definindo as vari√°veis dependentes e independentes e separando os dados de treino e teste
X = train[['Sex_binario', 'Age', 'SibSp', 'Pclass', 'Fare', 'Parch']]
y = train['Survived']

X = X.fillna(-1)

np.random.seed(42)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

#Instanciando e treinando o modelo, realizando previs√µes e verificando a acuracia

In [ ]:
#Instanciando o modelo
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=42)

In [ ]:
#treinando o modelo
modelo.fit(X_treino, y_treino)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
#Realizando as previs√µes
p = modelo.predict(X_valid)

In [ ]:
#Verificando a acuracia
acuracia = accuracy_score(y_valid, p) * 100
print('A acuracia do modelo foi de %.2f' % acuracia)

A acuracia do modelo foi de 81.84

#Tentando ver se o modelo de regress√£o logistica obt√©m um melhor resultado

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
modelo = LogisticRegression(n_jobs=-1, random_state=42)

In [ ]:
modelo.fit(X_treino, y_treino)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=-1, penalty='l2', random_state=42,
                   solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [ ]:
p = modelo.predict(X_valid)

In [ ]:
acuracia = accuracy_score(y_valid, p) * 100
print('Modelo obteve acuracia de %.2f' % acuracia)

Modelo obteve acuracia de 79.60

Podemos notar que, para esse caso, o modelo de regress√£o log√≠stica obteve um resultado pior que o random forest